<div class="flex-list">
    <ul>
      <li  *ngIf="securityModel.canAccessDashboard">
        <a
          routerLink="/Home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Dashboard</a
        >
      </li>
      <li *ngIf="securityModel.canAccessTODO">
        <a
          routerLink="/Home/todo"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          >TODO</a
        >
        <li *ngIf="securityModel.canAccessTODO">
        <a
          routerLink="/Home/Employee"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          >Employee Details</a
        >
        <li *ngIf="securityModel.canAccessTODO">
        <a
          routerLink="/Home/task-entry"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Task Entry</a
        >
      </li>
      <li><a
      routerLink=""
      (click) ="logout()"       
      >Logout</a></li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>