

<div class="grid-table">
    <div class="thead">
       <div class="tr">
           <div class="td">Task No</div>          
           <div class="td">Task Name</div>
           <div class="td">Employee Name</div>
           <div class="td">Remark</div>
           <div class="td">
               <button @fade class="btn btn-outline-success"(click)="addtaskMasterForm()">
                    <i class="fa fa-plus"></i> New Account
               </button>
            </div>
            <div class ="td">
                <span *ngIf="notification" class="elementToFadeInAndOut">
                    <i class="fan fa-check-circle {{notification.class}}"></i>
                    {{notification.message}}
                </span>
            </div>
        </div>
    </div> 
    <div class="tbody">
        <form  @slide class="tr" [formGroup] = "fg"  *ngFor= "let fg of taskMasterForms.controls; index as i"
            (submit)="recordSubmit(fg)">
            <div class="td">
                <input @slide class="form-control" formControlName ="emp_Id"> 
            </div>
            <div class="td">
                <select  @slide class="form-control" formControlName ="id"> 
                    <option value="0">Select</option>
                    <option *ngFor= "let item of TaskList"value="{{item.id}}">{{item.name}}</option>
                </select > 
            </div>
            <div class="td">
                <input @slide class="form-control" formControlName ="emp_Name"> 
            </div>
            <div class="td">
                <input @slide class="form-control" formControlName ="isComplete"> 
            </div>
            <div class="td">
                <button type ="submit" @slide class="btn testclass"[disabled]="fg.invalid"
                [ngClass]="(fg.get('task_Id').value==0)?'btn-success':'btn-outline-dark'"
                ><i class="fas fa-save fa-lg"></i>   
                {{fg.get('task_Id').value==0?'Submit':'Update'}}
                </button> 
                <button  @slide class="btn btn-light ml-1" (click)="onDelete(fg.get('task_Id').value,i)">
                    <i class="far fa-trash-alt fa-lg text-danger"></i>
                </button>
            </div>
        </form>
    </div>   
</div>    